<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Academic</title>
        <link rel="stylesheet" href="/webjars/bootstrap/5.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.2/css/all.css}">
        <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
        <script src="/webjars/bootstrap/5.0.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                  <div class="navbar-brand">
                    <i class="fa-solid fa-building-columns"></i>
                    Academic
                  </div>
                  <div class="dropdown">
                      <button class="btn btn-outline-success dropdown-toggle" id="dropdownMenuButton1" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user-ninja"></i></button>
                      <ul class="dropdown-menu  dropdown-menu-end dropdown-menu-lg-star" aria-labelledby="dropdownMenuButton1">
                        <li><span class="dropdown-item" sec:authentication="name"></spa></li>
                        <li>
                            <form method="POST" th:action="@{/logout}">
                                <a class="dropdown-item" href="#" onclick="this.parentNode.submit();">Cerrar sesión</a>
                            </form>
                        </li>
                      </ul>
                  </div>
                </div>
            </nav>
        </header>
        <footer th:fragment="footer">
            <nav class="navbar fixed-bottom navbar-light" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                    <span class="navbar-brand">
                    Diseñado por EzeFC para la Escuela de la Liberación, todos los derechos reservados
                    </span>
                </div>
            </nav>
        </footer>
    </body>
</html>